*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif ;
}

a{
    text-decoration: none;
    color: black;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                        "menu contenido";
    transition: all .3s ease ;                    
}

.contenedor .activate{
    grid-template-columns: 300px auto;
     
}

/*-------------------- -------------------HEADER-------------------- -------------------*/

.header{
    grid-area: header;
    background: #fff;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo{
grid-area: logo;
display: flex;
align-items: center;
}

.header .contenedor-logo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.header .contenedor-logo .boton-menu:hover{
    background: #E7E7E7;
}

.header .contenedor-logo .logo .fas{
    background: #ff0000;
    padding: 7px 12px ;
    border-radius: 4px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -4px;
    margin-right: 4px;
}


.header .contenedor-logo .logo{
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
    position: relative;
    top: 2px;
}



.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;
}

.header .barra-busqueda input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc ;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}




.header .botones-header{
    grid-area: iconos;
}




/*-------------------- -------------------MENU LATERAL-------------------- -------------------*/

.menu-lateral{
    grid-area: menu;
    background: #ccc;
}

.main{
    grid-area: contenido;
    background: #414141;
}

